@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p><input type="search" name="filter" id="search" value="" />   <span href="#" id="searchBtn" class="btn btn-primary btn-lg">Search &raquo;</span></p>
</div>

@section scripts{
    @Scripts.Render("~/bundles/app")
}